.movies-card-list {
  padding-top: 50px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 34px;
  column-gap: 30px;
  @media (width>700px) {
    & {
      padding-top: 80px;
      row-gap: 30px;
    }
  }
  @media (width>900px) {
    & {
      gap: 20px;
    }
  }
}
