.movie-card {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-areas:
    "img img"
    "title button"
    "time time";
}

.movie-card__image {
  grid-area: img;
  object-fit: cover;
  width: 100%;
}
.movie-card__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 29px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: rgba(255, 255, 255, 1);
}

.movie-card__button {
  grid-area: button;
  margin-top: 10px;
  margin-bottom: 25px;
  min-width: 24px;
  min-height: 24px;
  background-color: rgba(49, 49, 49, 1);
  border: 0;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    opacity: 80%;
  }
}

.movie-card__button_status_unlike {
  background-image: url("../../images/unlike-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 9px;
}
.movie-card__button_status_like {
  background-image: url("../../images/like-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 9px;
}
.movie-card__button_status_delete {
  background-image: url("../../images/delete-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.movie-card__time {
  grid-area: time;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  border-top: 1px solid rgba(66, 66, 66, 1);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: rgba(139, 139, 139, 1);
}
