.authorization {
  margin: 0 auto;
  max-width: 396px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 56px 30px 30px 30px;
  @media (width>700px) {
    & {
      margin: auto;
      flex-grow: 0;
      padding-top: 30px;
      padding-left: 0;
      padding-right: 0;
      min-height: 620px;
    }
  }
  @media (width>900px) {
    & {
      margin: 0 auto;
      flex-grow: 1;
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }
}

.authorization__logo {
  margin: 0 auto 50px;
  @media (width>700px) {
    & {
      margin-left: 0;
    }
  }
}

.authorization__title {
  text-align: center;
  margin: 0 0 80px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  @media (width>700px) {
    & {
      text-align: start;
    }
  }
}

.authorization__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
}

.authorization__form-label {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: hsla(0, 0%, 55%, 1);
  padding: 0;
  margin: 0;
}

.authorization__form-input {
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0 0 0;
  line-height: 17px;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 26%, 1);
  background-color: inherit;
  width: 100%;
}

.authorization__form-error {
  color: hsla(344, 85%, 57%, 1);
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  min-height: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.authorization__form-button {
  background-color: hsla(217, 89%, 61%, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  color: hsla(0, 0%, 100%, 1);
  margin: auto 30px 14px;
  border-radius: 3px;
  border: 0px;
  padding: 15px 0;

  @media (width > 700px) {
    & {
      font-size: 14px;
      line-height: 17px;
      padding-top: 13px;
      padding-bottom: 15px;
    }
  }
  &:hover:enabled {
    opacity: 80%;
  }
  &:disabled {
    background-color: hsla(0, 0%, 97%, 1);
    color: hsla(0, 0%, 76%, 1);
  }
}

.authorization__text {
  color: hsla(0, 0%, 55%, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin: 0;
}

.authorization__link {
  color: hsla(217, 89%, 61%, 1);
  text-decoration: none;
  &:hover {
    opacity: 70%;
  }
}
