.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding-left: 44px;
}

.navigation__overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: transparent;
  z-index: 10;
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  gap: 16px;
  width: 100%;

  @media (width<=900px) {
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    visibility: hidden;
    position: fixed;
    height: 100dvh;
    transform: translate(110%);
    flex-grow: 1;
    padding-top: 144px;
    padding-bottom: 46px;
    top: 0;
    right: 0;
    max-width: 520px;
    z-index: 100;
    gap: 24px;
    flex-direction: column;
    background-color: rgba(32, 32, 32, 1);
  }

  @media (900px>width>700px) {
    padding-top: 159px;
    padding-bottom: 90px;
    gap: 28px;
  }
}

.navigation__list-item {
  margin: 0;
  padding: 0;
  list-style: none;

  &:last-child {
    margin-top: auto;
  }

  @media (width>900px) {
    &:first-child {
      display: none;
    }
    &:last-child {
      margin-left: auto;
    }
  }
}

.navigation__link {
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 1);

  @media (width<=700px) {
    padding-bottom: 9px;
  }
  @media (width<=900px) {
    padding-bottom: 6px;
  }
  @media (width>900px) {
    font-size: 13px;
    line-height: 18px;
  }
  &:hover {
    opacity: 70%;
  }
}

.navigation__link_active {
  @media (width<=900px) {
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
  }
  @media (width<=700px) {
    padding-bottom: 7px;
  }
}

.navigation__profile {
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  padding: 3px 3px 3px 11px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(255, 255, 255, 1);

  display: flex;
  align-items: center;
  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  &::after {
    content: "";
    margin-left: 7px;
    min-width: 26px;
    min-height: 26px;
    background-color: rgba(49, 49, 49, 1);
    border-radius: 50%;
    background-image: url("../../images/profile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.navigation__burger-span {
  background-color: rgba(255, 255, 255, 1);
  min-height: 2.5px;
  min-width: 22px;
  transition: 0.5s;
  z-index: 1000;
  & + & {
    margin-top: 6.5px;
  }
  @media (width>700px) {
    min-width: 28px;
    min-height: 3px;
    & + & {
      margin-top: 7px;
    }
  }
}

.navigation__burger-label {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  padding: 9px;
  padding-top: 8.5px;
  &:hover {
    cursor: pointer;
  }
  @media (width>700px) {
    padding: 8px;
  }
  @media (width>900px) {
    display: none;
  }
}

.navigation__burger {
  display: none;
  @media (width <= 900px) {
    &:checked {
      & + .navigation__burger-label {
        .navigation__burger-span {
          opacity: 0;
        }
        .navigation__burger-span:first-child {
          opacity: 1;
          transform: rotate(405deg);
        }
        .navigation__burger-span:last-child {
          opacity: 1;
          transform: rotate(-405deg);
          margin-top: -12px;
          @media (width<=700px) {
            margin-top: -11px;
          }
        }
      }

      & ~ .navigation__overlay {
        background: rgba(0, 0, 0, 0.3);
        pointer-events: all;
      }

      & ~ .navigation__list {
        transform: translate(0);
        visibility: visible;
      }
    }
  }
}
