.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 79px;
  padding-bottom: 20px;
}

.footer__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: rgba(139, 139, 139, 1);
}

.footer__line {
  min-height: 1px;
  width: 100%;
  margin: 21px 10px 30px;
  width: 100%;
  background-color: rgba(66, 66, 66, 1);
  @media (width>700px) {
    & { 
      margin-bottom: 20px;
    }
  }
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  @media (width>700px) {
    & {
      display: grid;
      width: 100%;
      grid-template-columns: auto min-content min-content;
      grid-template-areas: "date link link";
    }
  }
}

.footer__link {
  font-weight: 400px;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  & + & {
    margin-top: 12px;
  }
  @media (width>700px) {
    & {
      font-size: 13px;
      line-height: 16px;
      margin: 0;
    }
    & + & {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}

.footer__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(139, 139, 139, 1);
  margin-top: 30px;
  grid-area: date;
  @media (width>700px) {
    & {
      font-size: 13px;
      line-height: 16px;
      margin: 0;
    }
  }
}
